In [2]:
import pandas as pd
import numpy as np
from IPython.display import display


df = pd.read_csv('g4m.csv')


print("Dataset Shape:", df.shape)
display(df.head())
df.info()
display(df.describe(include='all'))


print("Missing values per column:")
print(df.isnull().sum().sort_values(ascending=False).head(10))

Dataset Shape: (1309, 122)

,Acanthastrea,Acrhelia,Acropora,Alveopora,Anacropora,Astrea,Astreopora,Australomussa,Barabattoia,Blastomussa,...,Stylocoeniella,Stylophora,Symphyllia,Trachyphyllia,Tubastrea,Tubipora,Turbinaria,Year,fCO2,pH_total
0,0,0,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,1,1997,337.889161,8.090811
1,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1997,390.115140,8.062024
2,0,0,1,0,0,0,1,0,0,0,...,0,1,1,0,0,0,1,1997,342.993230,8.077757
3,1,0,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,0,1997,359.636453,8.082115
4,0,0,1,1,0,0,1,0,0,0,...,0,1,1,0,0,0,1,1997,337.500289,8.093888

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Columns: 122 entries, Acanthastrea to pH_total
dtypes: float64(11), int64(111)
memory usage: 1.2 MB

,Acanthastrea,Acrhelia,Acropora,Alveopora,Anacropora,Astrea,Astreopora,Australomussa,Barabattoia,Blastomussa,...,Stylocoeniella,Stylophora,Symphyllia,Trachyphyllia,Tubastrea,Tubipora,Turbinaria,Year,fCO2,pH_total
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,...,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1308.000000,1308.000000
mean,0.472880,0.003820,0.770817,0.475172,0.041253,0.010695,0.729565,0.006112,0.012223,0.002292,...,0.054240,0.691367,0.931245,0.003820,0.048128,0.010695,0.704354,2008.746371,382.511871,8.058734
std,0.499455,0.061709,0.420468,0.499574,0.198951,0.102902,0.444355,0.077967,0.109922,0.047836,...,0.226577,0.462106,0.253133,0.061709,0.214119,0.102902,0.456507,7.168451,24.537955,0.017558
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1997.000000,325.771729,8.004271
25%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2003.000000,363.680278,8.046918
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2008.000000,378.958371,8.059777
75%,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2015.000000,398.285950,8.071749
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2021.000000,460.037660,8.120196

Missing values per column:
pH_total             1
Salinity             1
fCO2                 1
Pseudosiderastrea    0
Psammocora           0
Porites              0
Polyphyllia          0
Podobacia            0
Podabacia            0
Pocillopora          0
dtype: int64

In [ ]:
f